In [1]:
import pandas as pd

2. Pandas Series And Dataframes
Q1.

In [2]:
marks = [65,70,85,90,55]
df = pd.Series(marks,index=['Student_1','Student_2','Student_3','Student_4','Student_5'])
df

Student_1    65
Student_2    70
Student_3    85
Student_4    90
Student_5    55
dtype: int64

In [3]:
avg = df.mean()
avg

73.0

In [4]:
students = df[df>75]
students

Student_3    85
Student_4    90
dtype: int64

Q2.

In [11]:
data = {'EmpId':[1,2,3,4,5],
    'EmpName':["A","B","C","D","E"],
    'EmpSalary':[10000,20000,30000,40000,50000],
    'EmpDepartment':["IT","HR","IT","HR","IT"]}
df = pd.DataFrame(data)

df.dtypes

EmpId             int64
EmpName          object
EmpSalary         int64
EmpDepartment    object
dtype: object

In [12]:
df['Bonus'] = list(map(lambda x: x*0.1,df['EmpSalary']))
df

   EmpId EmpName  EmpSalary EmpDepartment   Bonus
0      1       A      10000            IT  1000.0
1      2       B      20000            HR  2000.0
2      3       C      30000            IT  3000.0
3      4       D      40000            HR  4000.0
4      5       E      50000            IT  5000.0